<!DOCTYPE html>
<html lang="en">
<head>
    <title>Basic Ajax Demo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.pack.js"></script>
    <script>

        $.ajax({
            url: '/goods',
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(result){
                console.log(result);
                result.forEach(bill => {
                    //Xử lý phần thêm các phần tử vào bảng ở đây
                    $('#main_list').append("<tr>"
                        + "<th scope=\"row\">" + bill.id + "</th>"
                        + "<td>" + bill.nameGood + "</td>"
                        + "<td>" + bill.quantity + "</td>"
                        + "<td>" + bill.price + "</td>"
                        + "<td>" + bill.trademark+ "</td>"
                        + "<td>" + bill.category.nameCategory + "</td>"
                        + "<td>" + bill.saleOff + "</td>"
                        + "</tr>")
                });
            },
            fail: function(error) {
            }
        });

    </script>
</head>
<body>

<div class="container">
    <table class="table table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">NameGood</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Trademark</th>
            <th scope="col">Category</th>
            <th scope="col">SaleOff</th>
        </tr>
        </thead>
        <tbody id="main_list">
        </tbody>
    </table>
</div>

</body>
</html>
