
<div class="container-fluid">
  <div class="example">
    <div class="menuholder">
      <ul class="menu slide">
        <li><a href="#" class="red">Home</a></li>
        <li><a href="#" class="orange">Honda</a>
          <div class="subs">
            <dl>
              <dt>Xe số</dt>
              <dd><a href="#">SUPER CUB C125</a></dd>
              <dd><a href="#">FUTURE 150cc</a></dd>
              <dd><a href="#">FUTURE 125cc</a></dd>
              <dd><a href="#">WAVE RSX 110cc</a></dd>
              <dd><a href="#">BLADE 110cc</a></dd>
              <dd><a href="#">WAVE ALPHA 110cc</a></dd>
            </dl>
            <dl>
              <dt>Xe tay ga</dt>
              <dd><a href="#">SH 300cc</a></dd>
              <dd><a href="#">SH 150cc</a></dd>
              <dd><a href="#">SH 125cc</a></dd>
              <dd><a href="#">PCX HYBRID</a></dd>
              <dd><a href="#">PCX 150cc</a></dd>
              <dd><a href="#">PCX 125cc</a></dd>
            </dl>
            <dl>
              <dt>Xe côn tay</dt>
              <dd><a href="#">WinnerX</a></dd>
              <dd><a href="#">Winner 150cc</a></dd>
              <dd><a href="#">REBEL 300</a></dd>
              <dd><a href="#">MONKEY</a></dd>
              <dd><a href="#">MSX 125cc</a></dd>
            </dl>
            <dl>
              <dt>Xe mô tô</dt>
              <dd><a href="#">CBR650R</a></dd>
              <dd><a href="#">CBR500R</a></dd>
              <dd><a href="#">CBR300R</a></dd>
              <dd><a href="#">CBR150R</a></dd>
            </dl>
          </div>
        </li>
        <li><a href="#" class="yellow">Resources</a>
          <div class="subs">
            <dl>
              <dt>Links #5</dt>
              <dd><a href="https://www.script-tutorials.com/category/php/">PHP</a></dd>
              <dd><a href="https://www.script-tutorials.com/category/mysql/">MySQL</a></dd>
            </dl>
            <dl>
              <dt>Links #6</dt>
              <dd><a href="https://www.script-tutorials.com/category/xslt/">XSLT</a></dd>
              <dd><a href="https://www.script-tutorials.com/category/ajax/">Ajax</a></dd>
            </dl>
            <dl>
              <dt>Links #7</dt>
              <dd><a href="https://www.script-tutorials.com/category/html-css/">HTML / CSS</a></dd>
              <dd><a href="https://www.script-tutorials.com/category/jquery/">JS / jQuery</a></dd>
            </dl>
            <dl>
              <dt>Links #8</dt>
              <dd><a href="https://www.script-tutorials.com/category/mysql/">MySQL</a></dd>
              <dd><a href="https://www.script-tutorials.com/category/ajax/">Ajax</a></dd>
            </dl>
          </div>
        </li>
        <li><a href="https://www.script-tutorials.com/category/resources/" class="green">Other</a></li>
        <li><a href="https://www.script-tutorials.com/about/" class="blue">About</a></li>
        <li><a href="https://www.script-tutorials.com/creating-css3-dropdown-menu-3/" class="violet">Back</a></li>
      </ul>
      <div class="back"></div>
      <div class="shadow"></div>
    </div>
    <div style="clear:both"></div>
  </div>
</div>
