<div class="" style="margin: 0px;">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2>Manage <b>Equipment</b></h2>
          <div class="dropdown open">
            <button class="btn btn-secondary|primary|success|info|warning|danger dropdown-toggle" type="button"
                    id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
              Loại
            </button>
            <div class="dropdown-menu" aria-labelledby="triggerId">
              <a class="dropdown-item" id="type1">Bóng đèn</a>
              <a class="dropdown-item" id="type2">Điều hoà</a>
              <a class="dropdown-item" id="type3">Quạt</a>
              <a class="dropdown-item" id="type4">Router Wifi</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="search-hero">
            <input class="form-control mt-2" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Nhập từ khoá tìm kiếm">
          </div>
        </div>
      </div>
    </div>
<form [formGroup]="formAddNewEquipment">
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>STT</th>
        <th>Loại</th>
        <th>Tên thiết bị</th>
        <th>Số lượng</th>
        <th>Trạng thái</th>
        <th>Số lượng hỏng</th>
        <th>Ghi chú</th>
        <th>Sửa</th>
        <th>Xoá</th>
      </tr>
      </thead>
      <tbody>

<!--      <tr *ngFor="let equipment of equipmentModel; let i = index">-->
      <tr *ngFor="let i=index,let equipment of equipmentModel | filter:searchText | paginate:{id:'listing_pagination',
                                                                            itemsPerPage:4,
                                                                            currentPage:page,
                                                                            totalItems:totalRec}">
        <td>{{i+1}}</td>
        <td *ngIf="!checkEdit ||  equipment.id!==flag">
          {{equipment.type}}
        </td>
        <td *ngIf="checkEdit && equipment.id===flag">
          <input type="text" class="form-control" formControlName="type" value="{{equipment.type}}">
          <p class="alert alert-danger" role="alert" *ngIf="formAddNewEquipment.get('type').invalid && formAddNewEquipment.get('type').touched">
            Loại không được để trống!
          </p>
        </td>
        <td *ngIf="!checkEdit ||  equipment.id!==flag">
          {{equipment.deviceName}}
        </td>
        <td *ngIf="checkEdit && equipment.id===flag">
          <input type="text" class="form-control" formControlName="deviceName" value="{{equipment.deviceName}}">
          <p class="alert alert-danger" role="alert" *ngIf="formAddNewEquipment.get('deviceName').invalid && formAddNewEquipment.get('deviceName').touched">
            Loại không được để trống!
          </p>
        </td>
        <td *ngIf="!checkEdit || equipment.id!==flag ">
          {{equipment.amount}}
        </td>
        <td *ngIf="checkEdit && equipment.id===flag">
          <input type="text" class="form-control" formControlName="amount" value="{{equipment.amount}}">
        </td>
        <td *ngIf="!checkEdit || equipment.id!==flag">
          {{equipment.status}}
        </td>
        <td *ngIf="checkEdit && equipment.id===flag">
          <select class="form-control" style="width: 100px" formControlName="status" value="{{equipment.status}}">
            <option value="Mới">Mới</option>
            <option value="Hỏng">Hỏng</option>
          </select>
        </td>
        <td *ngIf="!checkEdit || equipment.id!==flag">
          {{equipment.amountOfBroken}}
        </td>
        <td *ngIf="checkEdit && equipment.id===flag">
          <input type="text" class="form-control" formControlName="amountOfBroken" value="{{equipment.amountOfBroken}}">
        </td>
        <td *ngIf="!checkEdit || equipment.id!==flag">
          {{equipment.note}}
        </td>
        <td *ngIf="checkEdit && equipment.id===flag">
          <input type="text" class="form-control" formControlName="note" value="{{equipment.note}}">
        </td>
        <td *ngIf="!checkEdit && equipment.id!==flag">
          <button class="btn btn-warning" type="button" (click)="checkEditEquipment(equipment.id)">Edit</button>
        </td>
        <td *ngIf="checkEdit">
          <button class="btn btn-warning" type="button" (click)="editEquipment()">Save</button>
        </td>
        <td *ngIf="checkEdit">
          <button class="btn btn-danger" type="button" >Cannel</button>
        </td>
        <td *ngIf="!checkEdit">
          <button class="btn btn-danger" type="button" (click)="openDialogDelete(equipment.id)">Delete</button>
        </td>
      </tr>
<!--thêm mới-->
      <tr >
        <td></td>
        <td>
          <input type="text" class="form-control" formControlName="type">
          <p class="alert alert-danger" role="alert" *ngIf="formAddNewEquipment.get('type').invalid && formAddNewEquipment.get('type').touched">
            Loại không được để trống!
          </p>
        </td>
        <td>
          <input type="text" class="form-control" formControlName="deviceName">
          <p class="alert alert-danger" role="alert" *ngIf="formAddNewEquipment.get('deviceName').invalid && formAddNewEquipment.get('deviceName').touched">
            Tên thiết bị không được để trống!
          </p>
        </td>
        <td>
          <input type="text" class="form-control" formControlName="amount">
        </td>
        <td>
          <select class="form-control" style="width: 100px" formControlName="status">
            <option value="Mới">Mới</option>
            <option value="Hỏng">Hỏng</option>
          </select>
        </td>
        <td>
          <input type="text" class="form-control" formControlName="amountOfBroken">
        </td>
        <td>

          <input type="text" class="form-control" formControlName="note">
        </td>
        <td>
          <button class="btn btn-primary" type="button" (click)="addNewEquipment()">Add</button>
        </td>
      </tbody>
    </table>
    </form>
    <div>
      <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>
