<!--<div class="main">-->
<!--<app-layout></app-layout>-->
<!--<div class="container-fluid" style="margin-top: 10px">-->
<!--  <div class="row">-->
<!--      <div class="col-4" style="background: #005cbf;height: 1000px">-->
<!--        <div id='cssmenu-doc'>-->
<!--          <ul>-->
<!--            <li><a routerLink="service" class="link"><span>Service</span></a>-->
<!--            </li>-->
<!--            <li class='active has-sub'><a href='#'><span>Products</span></a>-->
<!--              <ul>-->
<!--                <li class='has-sub'><a href='#'><span>Product 1</span></a>-->
<!--                  <ul>-->
<!--                    <li><a href='#'><span>Sub Product</span></a>-->
<!--                    </li>-->
<!--                    <li class='last'><a href='#'><span>Sub Product</span></a>-->
<!--                    </li>-->
<!--                  </ul>-->
<!--                </li>-->
<!--                <li class='has-sub'><a href='#'><span>Product 2</span></a>-->
<!--                  <ul>-->
<!--                    <li><a href='#'><span>Sub Product</span></a>-->
<!--                    </li>-->
<!--                    <li class='last'><a href='#'><span>Sub Product</span></a>-->
<!--                    </li>-->
<!--                  </ul>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li><a href='#'><span>About</span></a>-->
<!--            </li>-->
<!--            <li class='last'><a href='#'><span>Get Widget</span></a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-8" style="background: chartreuse;height: 1000px">-->
<!--        <router-outlet></router-outlet>-->
<!--      </div>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->

<app-todo></app-todo>

