
<!--                    $('#main_list').append("<tr>"-->
<!--                        + "<th scope=\"row\">" + bill.id + "</th>"-->
<!--                        + "<td>" + bill.nameGood + "</td>"-->
<!--                        + "<td>" + bill.quantity + "</td>"-->
<!--                        + "<td>" + bill.price + "</td>"-->
<!--                        + "<td>" + bill.trademark+ "</td>"-->
<!--                        + "<td>" + bill.category.nameCategory + "</td>"-->
<!--                        + "<td>" + bill.saleOff + "</td>"-->
<!--                        + "</tr>")-->

<!--        <tr>-->
<!--            <th scope="col">Id</th>-->
<!--            <th scope="col">NameGood</th>-->
<!--            <th scope="col">Quantity</th>-->
<!--            <th scope="col">Price</th>-->
<!--            <th scope="col">Trademark</th>-->
<!--            <th scope="col">Category</th>-->
<!--            <th scope="col">SaleOff</th>-->
<!--        </tr>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.pack.js"></script>
    <style th:replace="home :: style"></style>
    <style>
        .container {
            float: right;
            width: 70em;
            margin-top: 75px;
        }

        .nav-left {
            float: left;
        }
    </style>
    <script>
        loadf();
        function loadf() {
            let category="";
            let trademark="";
            let htmlE;
            $.ajax({
                url: '/searchGoodsString?nameCategory='+category+'&trademark='+trademark,
                type: 'GET',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    result.forEach(good => {
                        //Xử lý phần thêm các phần tử vào bảng ở đây
                        htmlE+="<tr>"
                            + "<th scope=\"row\">" + good.id + "</th>"
                            + "<td>" + good.nameGood + "</td>"
                            + "<td>" + good.category.nameCategory + "</td>"
                            + "<td>" + good.quantity + "</td>"
                            + "<td>" + good.price + "</td>"
                            + "<td>" + good.trademark+ "</td>"
                            + "<td>" + good.saleOff + "</td>"
                            + "<td>" + "<button  class='btn btn-warning'>Edit</button>"+ "</td>"
                            + "<td>" + "<button class='btn btn-danger'>Delete</button>" + "</td>"
                            + "</tr>"
                    });
                    $('#main_list').html(htmlE);
                },
                fail: function (error) {
                }
            });
        };
        $(document).ready(function() {
            $('#search').click(function (e) {
                let category=$('#search_category').val();
                let price=$('#search_price').val();
                let trademark=$('#search_trademark').val();
                let sale=$('#search_sale').val();
                console.log(category + " " + price + " " + trademark + " " + sale);
                let htmlE;
                let temp;
                if(price === "" && sale === "") {
                    temp = '/searchGoodsString?nameCategory='+category+'&trademark='+trademark
                } else if(price === "" || price == null){
                    temp = '/searchGoodsSale?nameCategory=' + category  +'&trademark='+trademark+'&saleOff='+sale
                } else if (sale === "" || sale == null){
                    temp = '/searchGoodsPrice?nameCategory=' + category +'&price=' + price+'&trademark='+trademark
                } else {
                    temp = '/searchGoods?nameCategory=' + category +'&price=' + price+'&trademark='+trademark+'&saleOff='+sale
                }
                $.ajax({
                    url: temp,
                    type: 'GET',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        console.log(result);
                        result.forEach(good => {
                            //Xử lý phần thêm các phần tử vào bảng ở đây
                            htmlE+="<tr>"
                                + "<th scope=\"row\">" + good.id + "</th>"
                                + "<td>" + good.nameGood + "</td>"
                                + "<td>" + good.category.nameCategory + "</td>"
                                + "<td>" + good.quantity + "</td>"
                                + "<td>" + good.price + "</td>"
                                + "<td>" + good.trademark+ "</td>"
                                + "<td>" + good.saleOff + "</td>"
                                + "<td>" + "<button  class='btn btn-warning'>Edit</button>"+ "</td>"
                                + "<td>" + "<button class='btn btn-danger'>Delete</button>" + "</td>"
                                + "</tr>"
                        });
                        $('#main_list').html(htmlE);
                    },
                    fail: function (error) {
                    }
                });

            });
        });
    </script>


</head>
<body>
<div class="header" th:replace="home :: menu"></div>
<div class="nav-left" th:replace="home :: nav-left"></div>

<div class="container">
    <button><a href="/createGood">Create Bill</a></button>
    <div class="col-md-8">
        <div class="input-group">
            <input type="text" id="search_category" class="form-control" placeholder="Search Category">
            <input type="text" id="search_price" class="form-control" placeholder="Search Price">
            <input type="text" id="search_trademark" class="form-control" placeholder="Search Trademark">
            <input type="text" id="search_sale" class="form-control" placeholder="Search Sale Off">
            <span class="input-group-btn">
          <button id="search" class="btn btn-default" type="submit">Search</button>
        </span>
        </div>
        <br><!-- /input-group -->
    </div><!-- /.col-lg-6 -->

    <table class="table table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">NameGood</th>
            <th scope="col">Category</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Trademark</th>
            <th scope="col">SaleOff</th>
            <th scope="col" colspan="2"></th>
        </tr>
        </thead>
        <tbody id="main_list">
        </tbody>
    </table>
</div>
</body>
</html>
