<link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css'>

<p>rating-bar works!</p>
<div class="stars">
  <form action="">
    <input class="star star-10" id="star-10" type="radio" name="star"/>
    <label class="star star-10" for="star-10"></label>
    <input class="star star-9" id="star-9" type="radio" name="star"/>
    <label class="star star-9" for="star-9"></label>
    <input class="star star-8" id="star-8" type="radio" name="star"/>
    <label class="star star-8" for="star-8"></label>
    <input class="star star-7" id="star-7" type="radio" name="star"/>
    <label class="star star-7" for="star-7"></label>
    <input class="star star-6" id="star-6" type="radio" name="star"/>
    <label class="star star-6" for="star-6"></label>
    <input class="star star-5" id="star-5" type="radio" name="star"/>
    <label class="star star-5" for="star-5"></label>
    <input class="star star-4" id="star-4" type="radio" name="star"/>
    <label class="star star-4" for="star-4"></label>
    <input class="star star-3" id="star-3" type="radio" name="star"/>
    <label class="star star-3" for="star-3"></label>
    <input class="star star-2" id="star-2" type="radio" name="star"/>
    <label class="star star-2" for="star-2"></label>
    <input class="star star-1" id="star-1" type="radio" name="star"/>
    <label class="star star-1" for="star-1"></label>
  </form>
</div>
